.DS_Store
.AppleDouble
.LSOverride
.vscode
.cursor
.claude/settings.local.json
cws.toml

Icon?

._*

.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
node_modules
playwright-report
test-results
